<!doctype html>
<html class="no-js" lang="">

<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashy | Website Analytics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/template/images/favicon.png">

    <!-- Dependencies CSS -->
    <link rel="stylesheet" href="../static/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/fontawesome/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/flaticon/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/jvectormap/css/jquery-jvectormap-2.0.3.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/fullcalendar/main.min.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/select2/css/select2.min.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/bootstrap-colorpicker/bootstrap-colorpicker.min.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/flatpicker/css/flatpickr.min.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/quill/quill.core.css" type="text/css">
    <link rel="stylesheet" href="../static/dependencies/quill/quill.snow.css" type="text/css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/assets/css/app.css" type="text/css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <!--[if IE]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <a href="#main-wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <div id="main-wrapper" class="dsy-main-wrapper">
        <div class="dsy-page">
            <div class="dsy-aside dsy-aside-fixed">
                <div class="dsy-aside-brand">
                    <div class="dsy-brand-logo">
                        <a href="index.html" class="main-logo">
                            <img src="../static/media/main-logo.png" alt="logo">
                        </a>
                        <a href="index.html" class="logo-icon">
                            <img src="../static/media/favicon.png" alt="logo">
                        </a>
                    </div>
                    <div class="nav-toggle-btn d-lg-none">
                        <button class="btn-icon sidebar-toggle-mobile">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
                <div class="dsy-aside-menu-wrapper">
                    <div class="dsy-aside-menu">
                        <ul class="dsy-aside-nav sidebar-toggle-view">
                            <li class="dsy-menu-label">
                                <div class="dsy-menu-label-text">菜单</div>
                            </li>
                            <li class="dsy-menu-item sidebar-nav-item active">
                                <a href="#" class="dsy-menu-link">
                                    <span class="dsy-menu-link-icon">
                                        <i class="flaticon-null-1"></i>
                                    </span>
                                    <span class="dsy-menu-link-text">信息展示</span>
                                    <span class="dsy-menu-count">03</span>
                                </a>
                                <ul class="dsy-sub-group sub-group-menu">
                                    <li class="dsy-nav-item">
                                        <a href="index.html" class="dsy-menu-link">Sales Monitoring</a>
                                    </li>
                                    <li class="dsy-nav-item active">
                                        <a href="index2.html" class="dsy-menu-link">Website Analytics</a>
                                    </li>
                                    <li class="dsy-nav-item">
                                        <a href="index3.html" class="dsy-menu-link">Cryptocurrency</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dsy-menu-item sidebar-nav-item">
                                <a href="alart.html" class="dsy-menu-link">
                                    <span class="dsy-menu-link-icon">
                                        <i class="flaticon-null-7"></i>
                                    </span>
                                    <span class="dsy-menu-link-text">推荐列表</span>
                                    <span class="dsy-arrow-icon"><i class="flaticon-null-8"></i></span>
                            </li>
                            <li class="dsy-menu-item sidebar-nav-item">
                                <ul class="dsy-sub-group sub-group-menu">
                                    <li class="dsy-nav-item">
                                        <a href="google-map.html" class="dsy-menu-link">Google Map</a>
                                    </li>
                                    <li class="dsy-nav-item">
                                        <a href="vector-map.html" class="dsy-menu-link">Vector Map</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dsy-page-content">
                <div class="navbar navbar-expand nav-top-bar nav-bar-fixed">
                    <div class="top-bar-menu collapse navbar-collapse" id="mobile-navbar">
                        <ul class="navbar-nav">
                            <li class="nav-toggle-btn d-none d-lg-block">
                                <button class="btn-icon" id="dsy-aside-toggler">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </li>
                            <li class="nav-toggle-btn d-lg-none">
                                <button class="btn-icon sidebar-toggle-mobile">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </li>
                            <li class="nav-search-bar">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search......">
                                    <div class="input-group-append">
                                        <button class="item-btn" type="button"><i class="flaticon-null-15"></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">

                            <li class="navbar-item dropdown nav-message">
                                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="flaticon-null-18"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <h5 class="main-heading text-body text-bold mb-1">Messages</h5>
                                    <div class="sub-heading text-12 text-manatee">You have 4 unread messages</div>
                                    <div class="nofify-list">
                                        <a href="#" class="media">
                                            <div class="item-img">
                                                <img src="media/figure/img_1.jpg" alt="thumb">
                                            </div>
                                            <div class="media-body">
                                                <h6 class="item-title text-14 text-bold mb-1">Thomas Henry</h6>
                                                <p class="text-13">There many variations dumm more the of available.</p>
                                                <div class="text-12 text-manatee">Mar 15 3:55 PM</div>
                                            </div>
                                        </a>
                                        <a href="#" class="media">
                                            <div class="item-img">
                                                <img src="media/figure/img_4.jpg" alt="thumb">
                                            </div>
                                            <div class="media-body">
                                                <h6 class="item-title text-14 text-bold mb-1">Tom Black</h6>
                                                <p class="text-13">There many variations dumm more the of available.</p>
                                                <div class="text-12 text-manatee">Mar 17 6:12 PM</div>
                                            </div>
                                        </a>
                                        <a href="#" class="media">
                                            <div class="item-img">
                                                <img src="media/figure/admin.jpg" alt="thumb">
                                            </div>
                                            <div class="media-body">
                                                <h6 class="item-title text-14 text-bold mb-1">Jasmine Roberts</h6>
                                                <p class="text-13">There many variations dumm more the of available.</p>
                                                <div class="text-12 text-manatee">Mar 18 2:36 PM</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="view-btn">
                                        <a href="#">VIEW ALL</a>
                                    </div>
                                </div>
                            </li>
                            <li class="navbar-item dropdown nav-notification">
                                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="flaticon-null-17"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h5 class="text-body text-bold mb-1">Notification</h5>
                                        <a href="#" class="text-12 text-manatee text-bold">Mark All</a>
                                    </div>
                                    <div class="nofify-list">
                                        <a href="#" class="media">
                                            <div class="item-img">
                                                <img src="media/figure/img_13.jpg" alt="thumb">
                                            </div>
                                            <div class="media-body">
                                                <h6 class="item-title text-13 text-bold mb-1">Requested to Widthdrawl</h6>
                                                <div class="sub-title text-12 text-manatee">2 Hrs Ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="media">
                                            <div class="item-img">
                                                <img src="media/figure/img_14.jpg" alt="thumb">
                                            </div>
                                            <div class="media-body">
                                                <h6 class="item-title text-13 text-bold mb-1">New user registered.</h6>
                                                <div class="sub-title text-12 text-manatee">5 Hrs Ago</div>
                                            </div>
                                        </a>
                                        <a href="#" class="media">
                                            <div class="item-img">
                                                <img src="media/figure/admin.jpg" alt="thumb">
                                            </div>
                                            <div class="media-body">
                                                <h6 class="item-title text-13 text-bold mb-1">Thomas Henry Added!</h6>
                                                <div class="sub-title text-12 text-manatee">5 Hrs Ago</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="view-btn">
                                        <a href="#">VIEW ALL</a>
                                    </div>
                                </div>
                            </li>
                            <li class="navbar-item dropdown nav-admin">
                                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><img src="media/figure/admin.jpg" alt="">景昱<i class="flaticon-null-16"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <h5 class="text-bold text-body mb-0">景昱</h5>
                                    <div class="text-14 text-manatee">Graphic Design</div>
                                    <ul class="settings-list">
                                        <li><a href="#"><i class="fas fa-edit"></i>Account Setting</a></li>
                                        <li><a href="#"><i class="fas fa-question"></i>Help Center</a></li>
                                        <li><a href="#"><i class="fas fa-lock"></i>Lock screen</a></li>
                                    </ul>
                                    <div class="sign-btn">
                                        <a href="#">SIGN OUT</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--=====================================-->
                <!--=         Breadcrumb Start          =-->
                <!--=====================================-->
                <div class="breadcrumbs-wrap breadcrumb-home">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="breadcrumbs-area">
                                    <ul>
                                    </ul>
                                    <h1>学生实训方向推荐系统</h1>
                                </div>
                            </div>
                            <div class="col-md-7">

                            </div>
                        </div>
                    </div>
                </div>
                <!--=====================================-->
                <!--=        	Chart Area Start     	=-->
                <!--=====================================-->
                <div class="website-chart-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-8">
                                <div class="card web-chart web-audience">
                                    <div class="card-body">
                                        <div class="row align-items-center mb-4">
                                            <div class="col-md-4">
                                                <h3 class="section-title mb-1">各方向人数统计</h3>
                                                <div class="text-regent-gray text-13">01/17/20 - 01/29/2020</div>
                                            </div>
<!--                                            <div class="col-md-8">
                                                <div class="duration-btn text-md-right">
                                                    <a href="#">Today</a>
                                                    <a href="#">7d</a>
                                                    <a href="#" class="active">2w</a>
                                                    <a href="#">1m</a>
                                                    <a href="#">3m</a>
                                                    <a href="#">2020</a>
                                                </div>
                                            </div> -->
                                        </div>
										
                                        <div class="row gutters-15">
                                            <div class="col-lg-3 col-sm-6">
                                                <div class="audience-list">
                                                    <div class="row no-gutters">
                                                        <div class="col-6">
                                                            <h6 class="item-title">云计算与大数据</h6>
                                                            <h6 class="new-number">193人</h6>
                                                        </div>
                                                        <div class="col-6 text-right">
                                                            <div class="item-ratio text-mountain-meadow"><i class="flaticon-null-22"></i>12.37%</div>
                                                            <h6 class="old-number">175人</h6>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 70%; background-color: #80e6e6;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-sm-6">
                                                <div class="audience-list">
                                                    <div class="row no-gutters">
                                                        <div class="col-6">
                                                            <h6 class="item-title">软件开发与测试</h6>
                                                            <h6 class="new-number">94人</h6>
                                                        </div>
                                                        <div class="col-6 text-right">
                                                            <div class="item-ratio text-mountain-meadow"><i class="flaticon-null-22"></i>08.60%</div>
                                                            <h6 class="old-number">1,45人</h6>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #febf8a;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-sm-6">
                                                <div class="audience-list">
                                                    <div class="row no-gutters">
                                                        <div class="col-lg-8 col-6">
                                                            <h6 class="item-title">Java</h6>
                                                            <h6 class="new-number">152人</h6>
                                                        </div>
                                                        <div class="col-lg-4 col-6 text-right">
                                                            <div class="item-ratio text-light-red"><i class="flaticon-null-25"></i>12.37%</div>
                                                            <h6 class="old-number">75人</h6>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 40%; background-color: #f880ba;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-sm-6">
                                                <div class="audience-list">
                                                    <div class="row no-gutters">
                                                        <div class="col-lg-8 col-6">
                                                            <h6 class="item-title">前端开发</h6>
                                                            <h6 class="new-number">253人</h6>
                                                        </div>
                                                        <div class="col-lg-4 col-6 text-right">
                                                            <div class="item-ratio text-mountain-meadow"><i class="flaticon-null-22"></i>05.23%</div>
                                                            <h6 class="old-number">45人</h6>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 75%; background-color: #80b4fc;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
										<div class="col-md-4">
										    <h3 class="section-title mb-1">各方向历年人数变化</h3>
										</div>
                                        <div class="audience-chart">
                                            <canvas id="audience-chart" width="100" height="250"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4">
                                <div class="card web-chart web-traffic">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-7">
                                                <h3 class="section-title">方向人数占比</h3>
                                            </div>
                                            <div class="col-5">
                                                <div class="dropdown section-dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">30 Days<i class="flaticon-null-16"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">15 Days</a>
                                                        <a class="dropdown-item" href="#">7 Days</a>
                                                        <a class="dropdown-item" href="#">1 Days</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="doughnut-chart">
                                            <canvas id="doughnut-chart" width="100" height="215"></canvas>
                                        </div>
                                        <div class="traffic-list">
                                            <div class="row gutters-10">
                                                <div class="col-xxl-6 col-md-3 col-sm-6">
                                                    <div class="media">
                                                        <div class="item-bar bg-dodger-blue"></div>
                                                        <div class="media-body">
                                                            <h6 class="item-title">云计算与大数据</h6>
                                                            <h6 class="item-number">2,541 <span class="text-12 text-regent-gray text-regular">(43.95%)</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-6 col-md-3 col-sm-6">
                                                    <div class="media">
                                                        <div class="item-bar bg-hot-pink"></div>
                                                        <div class="media-body">
                                                            <h6 class="item-title">前端开发</h6>
                                                            <h6 class="item-number">1,935 <span class="text-12 text-regent-gray text-regular">(23.68%)</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-6 col-md-3 col-sm-6">
                                                    <div class="media">
                                                        <div class="item-bar bg-cyan"></div>
                                                        <div class="media-body">
                                                            <h6 class="item-title">java开发</h6>
                                                            <h6 class="item-number">1,320 <span class="text-12 text-regent-gray text-regular">(11.22%)</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-6 col-md-3 col-sm-6">
                                                    <div class="media">
                                                        <div class="item-bar bg-tagerine"></div>
                                                        <div class="media-body">
                                                            <h6 class="item-title">软件开发与测试</h6>
                                                            <h6 class="item-number">1,579 <span class="text-12 text-regent-gray text-regular">(21.15%)</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-lg-6">
                                <div class="card web-chart web-perform">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <h3 class="section-title">各方向薪资一览</h3>
                                            </div>
                                            <div class="col-4">
                                                <div class="dropdown section-dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">30 Days<i class="flaticon-null-16"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">15 Days</a>
                                                        <a class="dropdown-item" href="#">7 Days</a>
                                                        <a class="dropdown-item" href="#">1 Days</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="perform-box">
                                            <h4 class="item-title">云计算与大数据</h4>
                                            <div class="row align-items-center">
                                                <div class="col-7">
                                                    <div class="perform-chart">
                                                        <canvas id="perform-chart1" width="100" height="40"></canvas>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <h4 class="item-ratio">￥18965</h4>
                                                    <div class="item-growth text-mountain-meadow"><i class="flaticon-null-22"></i>04.18%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="perform-box">
                                            <h4 class="item-title">软件开发与测试</h4>
                                            <div class="row align-items-center">
                                                <div class="col-7">
                                                    <div class="perform-chart">
                                                        <canvas id="perform-chart2" width="100" height="40"></canvas>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <h4 class="item-ratio">￥14675</h4>
                                                    <div class="item-growth text-light-red"><i class="flaticon-null-25"></i>01.57%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="perform-box mb-0">
                                            <h4 class="item-title">前端开发</h4>
                                            <div class="row align-items-center">
                                                <div class="col-7">
                                                    <div class="perform-chart">
                                                        <canvas id="perform-chart3" width="100" height="40"></canvas>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <h4 class="item-ratio">￥14089</h4>
                                                    <div class="item-growth text-mountain-meadow"><i class="flaticon-null-22"></i>01.48%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-lg-6">
                                <div class="card web-chart web-users">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <h3 class="section-title">语言排行榜</h3>
                                            </div>
                                            <div class="col-6">
                                                <div class="dropdown section-dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">30 Days<i class="flaticon-null-16"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">15 Days</a>
                                                        <a class="dropdown-item" href="#">7 Days</a>
                                                        <a class="dropdown-item" href="#">1 Days</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-duration">
                                            <div class="row gutters-15">
                                                <div class="col-4">
                                                    <div class="user-time">
                                                        <h6 class="item-title">Java</h6>
                                                        <h5 class="item-amount">8.95K</h5>
                                                        <div class="item-ratio text-mountain-meadow"><i class="flaticon-null-22"></i>05.06%</div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="user-time">
                                                        <h6 class="item-title">Python</h6>
                                                        <h5 class="item-amount">4.37K</h5>
                                                        <div class="item-ratio text-light-red"><i class="flaticon-null-25"></i>00.77%</div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="user-time">
                                                        <h6 class="item-title">Javascript</h6>
                                                        <h5 class="item-amount">9.38K</h5>
                                                        <div class="item-ratio text-mountain-meadow"><i class="flaticon-null-22"></i>00.23%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-chart">
                                            <canvas id="users-chart" width="100" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
							

							<div class="col-xxl-8">
                                <div class="card web-table browser-table">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <h3 class="section-title">各方向成绩展示</h3>
                                            </div>
                                            <div class="col-4">
                                                <div class="dropdown section-dropdown">
                                                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">30 Days<i class="flaticon-null-16"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">15 Days</a>
                                                        <a class="dropdown-item" href="#">7 Days</a>
                                                        <a class="dropdown-item" href="#">1 Days</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">方向</th>
                                                        <th scope="col">优势科目</th>
                                                        <th scope="col">优秀率</th>
                                                        <th scope="col" class="text-right">及格率</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="d-flex align-items-center"><img src="media/figure/chrome.png" alt="Chrome">
                                                            <h6 class="text-bold text-14 mb-0">云计算与大数据</h6>
                                                        </td>
                                                        <td>数据挖掘与可视化</td>
                                                        <td>40.95%</td>
                                                        <td class="text-right">19.45%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="d-flex align-items-center"><img src="media/figure/mozilla.png" alt="Chrome">
                                                            <h6 class="text-bold text-14 mb-0">智慧城市和物联网</h6>
                                                        </td>
                                                        <td>机器学习导论</td>
                                                        <td>33.13%</td>
                                                        <td class="text-right">20.29%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="d-flex align-items-center"><img src="media/figure/safari.png" alt="Chrome">
                                                            <h6 class="text-bold text-14 mb-0">前端开发</h6>
                                                        </td>
                                                        <td>网站开发与网页设计</td>
                                                        <td>39.36%</td>
                                                        <td class="text-right">18.05%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="d-flex align-items-center"><img src="media/figure/edge.png" alt="Chrome">
                                                            <h6 class="text-bold text-14 mb-0">Java开发</h6>
                                                        </td>
                                                        <td>Spirngboot开发</td>
                                                        <td>39.36%</td>
                                                        <td class="text-right">18.05%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="d-flex align-items-center"><img src="media/figure/opera.png" alt="Chrome">
                                                            <h6 class="text-bold text-14 mb-0">软件开发与测试</h6>
                                                        </td>
                                                        <td>软件质量保证</td>
                                                        <td>55.12%</td>
                                                        <td class="text-right">06.08%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="d-flex align-items-center"><img src="media/figure/uc.png" alt="Chrome">
                                                            <h6 class="text-bold text-14 mb-0">移动软件开发</h6>
                                                        </td>
                                                        <td>安卓开发</td>
                                                        <td>49.84%</td>
                                                        <td class="text-right">03.06%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
						</div>
                    </div>
                </div>
                <!--=====================================-->
                <!--=       	Footer Start     		=-->
                <!--=====================================-->
                <footer class="footer-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="copyright-text">© 2020 <span>Dashy</span>. Template By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></div>
                            </div>
                            <div class="col-sm-6">
                                <ul class="footer-link">
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>



            </div>
        </div>
    </div>
    <!-- Dependencies Js -->
    <script src="../static/dependencies/jquery/js/jquery.min.js"></script>
    <script src="../static/dependencies/popper.js/js/popper.min.js"></script>
    <script src="../static/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/dependencies/chart.js/js/Chart.min.js"></script>
    <script src="../static/dependencies/apexchart/apexcharts.min.js"></script>
    <script src="../static/dependencies/apexchart/irregular-data-series.js"></script>
    <script src="../static/dependencies/apexchart/ohlc.js"></script>
    <script src="../static/dependencies/jvectormap/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../static/dependencies/jvectormap/js/jquery-jvectormap-world-mill.js"></script>
    <script src="../static/dependencies/jvectormap/js/jquery-jvectormap-us-aea.js"></script>
    <script src="../static/dependencies/jvectormap/js/gdp-data.js"></script>
    <script src="../static/dependencies/fullcalendar/main.min.js"></script>
    <script src="../static/dependencies/select2/js/select2.min.js"></script>
    <script src="../static/dependencies/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="../static/dependencies/flatpicker/js/flatpickr.min.js"></script>
    <script src="../static/dependencies/quill/quill.min.js"></script>
    <script src="../static/assets/js/chart.js"></script>
    <script src="../static/assets/js/apex-chart.js"></script>

    <!-- Custom Js -->
    <script src="../static/assets/js/app.js"></script>
</body>

</html>